:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --typical-margin: 30px;
}

/* Styles reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: currentColor;
}

img {
    display: block;
}

/* Common styles */
body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section:nth-child(3) {
    padding-top: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.title {
    color: var(--title-text-color);
}

.button {
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo>span {
    color: var(--accent-color);
}

/* Site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;    

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.current::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background: #2196F3;
    border-radius: 2px;
}

/* Contact links */
.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list.item {
    color: var(--primary-text-color);
}

.contacts {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}

.contact-list .item + .item {
    margin-left: 50px;
}

.contact-icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list a:hover .contact-icon,
.contact-list a:focus .contact-icon {
    fill: var(--accent-color);
}

.contacts,
.footer-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus, 
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

.hero,
.footer {
    background-color: #2F303A;
}

/* Hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-height: 600px;

    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
}

.hero-button {
    margin: 0 auto;
    padding: 10px 32px;
    min-width: 200px;

    color: #FFFFFF;
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em; 
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 3;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
}

/* Features */
.features-list {
    display: flex;
}

.features-list .item {
    width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
    margin-right: var(--typical-margin);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: var(--secondary-bg-color);
}

.features-list .title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;    
}

.features-list .text {
    line-height: 1.71;
}

/* What we do */
.examples-list {
    display: flex;
}

.examples-list .item {
    width: calc((100% - 60px) / 3);
}

.examples-list .item:not(:last-child) {
    margin-right: var(--typical-margin);
}

.examples-list .thumb {
    position: relative;
}

.examples-list .label {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;

    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

/* Team */
.team {
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.team-list {
    display: flex;
}

.team-list .item {
    width: calc((100% - 90px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
    margin-right: var(--typical-margin);
}

.team-list div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list .title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list p {
    margin-bottom: 16px;
}

.masters-soc-list,
.footer-soc-list {
    display: flex;
    justify-content: center;
}

.masters-soc-item,
.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.masters-soc-item:first-child,
.footer-soc-item:first-child {
    margin-left: 0;
}

.masters-soc-link,
.footer-soc-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.masters-soc-link {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-link:hover,
.masters-soc-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

/* .masters-soc-link:hover .masters-soc-icon,
.masters-soc-link:focus .masters-soc-icon {
    fill: #FFFFFF;
} */

/* Clients */
.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
}

.clients-item:first-child {
    margin-left: 0;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-contacts {
    margin-right: 70px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.address {
    margin-bottom: 9px;

    color: #FFFFFF;
    font-style: normal;
    line-height: 1.71;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
}

.footer li {
    margin-bottom: 9px;
}

.footer li:last-child {
    margin-bottom: 0;
}

.footer-soc-title,
.footer-form-title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-soc-link {
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-media {
    margin-right: 93px;
}

.footer-email {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;    

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;
}

.footer-email::placeholder {
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    color: #FFFFFF;
    fill: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.subscribe-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 28px;
}

.subscribe-text {
    margin-right: 10px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* Portfolio */

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    text-align: center;
}

.button-list .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button {
    padding: 6px 22px;
        
    background-color: var(--secondary-bg-color);
    border-color: transparent;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.62;
}

.button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list .item {
    width: calc((100% - 60px) / 3);

    background: #FFFFFF;

    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:not(:nth-child(3n)) {
    margin-right: var(--typical-margin);
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: var(--typical-margin);
}

.portfolio-list .item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list .item:hover .overlay {
    transform: translateY(-100%);
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;

    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-category {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
}

.portfolio-title,
.portfolio-category {
    text-align: left;
}
/*цвет заголовков #212121*/
/*цвет текста, телефон и адрес #757575*/
/*акцент #2196F3*/
/* белый #ffffff */
/* фон героя, футера #2F303A */
/* фон меню 2 стр, фон команды, фон меню примеров #F5F4FA */
/* основной фон #E5E5E5 */
/* фон карточек команды #ffffff*/
/* фон примеров работ #EEEEEE */
/* адрес в футере rgba(255, 255, 255, 0.6) */